<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='main.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
  </head>
  <body>
    <h1>Chào mừng bạn đến với trang chủ của BOT TopQuiz</h1>
    <h2>Cùng dạy cho BOT thông minh hơn và hiệu quả hơn!</h2>
    </br>
    <form action="/new" method="POST" id="contact_form">
      <div class="input-group">
        <span class="input-group-addon">User Talk : </span>
        <input type="text" class="form-control" placeholder="Xin chào" name="user" required autofocus>
      </div>
      </br>
      <div class="input-group">
        <span class="input-group-addon">BOT Reply : </span>
        <input type="text" class="form-control" placeholder="Hề lú, mình là BOT đẹp trai thanh lịch nhất hành tinh đây." name="bot" required autofocus>
      </div>
      </br>
      <!-- Success message -->
      <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i>Cảm ơn bạn đã dạy BOT thành công!</div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
    <script>
      $('#contact_form').submit(function(e){
        if (e.isDefaultPrevented()) {
          // handle the invalid form...
        } else {
          // everything looks good!
          $('#success_message').slideDown({ opacity: "show" }, "slow");
        }
      });
    </script>
  </body>
</html>