<!DOCTYPE html>
<html>
  <head>
    <title>BOT TopQuiz</title>
    <link rel='stylesheet' href='main.css' />
  </head>
  <body>
    <h1>Chào mừng bạn đến với trang chủ của BOT TopQuiz</h1>

    </br>
    <!--<div ng-controller="listNews" class="container">
      <ul>
        <li ng-repeat="listNews in news"></li>
      </ul>
    </div>-->
  </body>
</html>